<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>问卷设计</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <link href="http://www.desckie.com/static/admin/css/NewDefault.css" rel="stylesheet" type="text/css" />
    <link id="linkBaseUrl" rel="stylesheet" type="text/css" href="http://www.desckie.com/static/admin/css/q.css" />
    <link href="http://www.desckie.com/static/admin/css/newdesign.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
#m-rightbar {
	z-index:99;
	width:45px;
	height:156px;
	right: -47px;
    top: 300px;
    position: absolute;
}
.m-menu {
	width:45px;
	height:156px;
}
.m-menu li a {
	width:45px;
	height:39px;
	display:block;
	text-indent:-9999px;
	outline:0;
}
.m-top, .m-help, .m-comment, .m-bottom {
	background:url(http://www.sojump.com/images/mysojump/rightbar.gif) no-repeat;
	width:45px;
	height:39px
}
.m-top a:hover, .m-help a:hover, .m-comment a:hover, .m-bottom a:hover {
	background:url(http://www.sojump.com/images/mysojump/rightbar-hover.gif) no-repeat;
}
.m-help,.m-help a:hover {
	background-position:0 -39px;
}

.m-comment,.m-comment a:hover{
	background-position:0 -78px;
}
.m-bottom,.m-bottom a:hover{
	background-position:0 -117px;
	}
</style>
    <style type="text/css">
                    .orange {
                        color: #fef4e9;
                        border: solid 1px #da7c0c;
                        background: #f78d1d;
                        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
                        background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
                        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
                        width: 90px;
                        height: 30px;
                        -webkit-border-radius: .5em;
                        -moz-border-radius: .5em;
                        border-radius: .5em;

                    }
                    .orange:hover {
                        background: #f47c20;
                        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
                        background: -moz-linear-gradient(top,  #f88e11,  #f06015);
                        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
                    }
                    .orange:active {
                        color: #fcd3a5;
                        background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
                        background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
                        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
                    }
    </style>
    <script src="../static/admin/js/jquery.js"></script>
    <script>
        function createFreQ(s){
            document.getElementById('new_simple_select').style.visibility='visible';
        }
        var subject_num = 1;
        var id_num = 3;
        function addNewItem_simple(){
            var new_tr = document.createElement("tr");
            new_tr.id = "tr" + id_num;
            new_tr.innerHTML = "<td style=\"width: 40px\"><span style=\"font-size: 12px\">选项"+id_num+":</span></td><td style=\"width: 217px;\"><input id=\"input_"+id_num+"\" type=\"text\" class=\"inputtext choicetxt\" style=\"width: 210px;\" value=\"选项"+id_num+"\"></td><td><a class=\"design-icon design-finish\" href=\"javascript:change_select('"+id_num+"');\"></a></td>";
            document.getElementById('option_tbody').appendChild(new_tr);
            var new_li = document.createElement("li");
            new_li.style.width = '99%';
            new_li.innerHTML = '<input type="radio" name="subject'+subject_num+'"><label id=\"s'+id_num+'\">选项'+id_num+'</label>';
            document.getElementById('ul_select').appendChild(new_li);
            id_num++;
        }
        function change_select(c){
            document.getElementById('s'+c).innerText = document.getElementById('input_'+c).value;
        }
        function loadQ(){
            var insert_div = document.getElementById('Q'+subject_num);
            var survet_body = document.getElementById('sur');
            survet_body.appendChild(insert_div);
            document.getElementById('new_simple_select').remove();
        }
    </script>
</head>
<body style="background: #eeeeee; margin: 0px; padding: 0px;">
    <div style="width:870px; margin: 0 auto; text-align: left;">
        <div id="topnav" style="position:relative">
            <div class="tabQTypet" style="background: 0px; border: 0px; height: 40px;">
                <ul id="tQType">
                    <li style="margin-left: 250px; width:85px;">
                        <a id="hrefChoice" href="javascript:createFreQ('simple_select');" style="text-decoration: none; padding:0;">
                            <span class="design-icon design-radio"></span><span class="spanQTxt">单项选择</span>
                        </a>
                    </li>
                    <li style="width:85px;"><a href="javascript:createFreQ('multiple_choice');" style="text-decoration: none;padding: 0;">
                        <span class="design-icon design-check"></span><span class="spanQTxt">多项选择</span>
                    </a>
                    </li>
                    <li style="width:85px;">
                        <a href="javascript:createFreQ('fitb');" style="text-decoration: none;padding: 0;">
                        <span class="design-icon design-text"></span><span class="spanQTxt">单项填空</span>
                        </a>
                    </li>
                </ul>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="survey" style="padding: 15px 24px 15px 25px; overflow: auto; background-color: rgb(255, 255, 255); width: 820px; height: 515px" id="sur">
            <div style="width: 780px;margin: 0 auto; padding-left: 10px;">
                <div id="question" class="surveycontent">
                    <div id="divId" class="surveyhead" style="border: 2px solid rgb(255, 255, 255); margin-top: 3px; width: 730px; cursor: pointer;" title="编辑问卷标题与问卷说明">
                        <h1 id="pater_title" style="cursor: pointer;"></h1>
                        <div id="pater_desc" class="surveydescription" style="cursor: pointer;"></div>
                    </div>
                </div>
            </div>
            <div id="new_simple_select" class="div_question div_question_onclick" style="visibility: hidden">
                <div class="div_preview">
                    <div id="Q1">
                        <div class="div_title_question_all">
                            <div class="div_topic_question">1.</div>
                            <div class="div_title_question"><span id="title_1">请在此输入问题标题</span><span style="color: red;">&nbsp;*</span></div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="div_table_radio_question">
                            <div class="div_table_clear_top"></div>
                            <ul id="ul_select">
                                <li style="width:99%;"><input type="radio" name="subject1"><label id="s1">选项1</label></li>
                                <li style="width:99%;"><input type="radio" name="subject1"><label id="s2">选项2</label></li>
                                <div style="clear:both;"></div>
                            </ul>
                            <div class="div_table_clear_bottom"></div>
                        </div>
                    </div>
                    <div class="div_ins_question"></div>
                    <div class="spanLeft" style="height: 18px;">
                        <div class="div_ins_question spanLeft" style="clear: none; display: none;"></div>
                    </div>
                    <div class="spanRight" style="clear: none">
                        <ul class="stuff">
                            <li>
                                <a href="javascript:void(0);" onclick="editQ(this);" title="完成编辑">
                                    <span class="design-icon design-finish"></span><span>完成</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="curover.deleteQ();" title="删除此题">
                                    <span class="design-icon design-delete"></span><span>删除</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="curover.moveUp();" title="将此题上移">
                                    <span class="design-icon design-up"></span><span>上移</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="curover.moveDown();" title="将此题下移">
                                    <span class="design-icon design-down"></span><span>下移</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="curover.moveFirst();" title="将此题移动到第一题">
                                    <span class="design-icon design-first"></span><span>最前</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="curover.moveLast();" title="将此题移动到最后一题">
                                    <span class="design-icon design-last"></span><span>最后</span>
                                </a>
                            </li>
                            <div style="clear:both;"></div>
                        </ul>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div class="div_title_attr_question">
                        <div style="margin-left: 15px;">
                            <div class="spanLeft">
                                <div style="height: 27px; line-height: 27px; width: 423px; background: rgb(240, 240, 238)">
                                    <div align="center"><b style="font-size:14px;">题目标题</b></div>
                                    <div class="divclear"></div>
                                </div>
                                <div style="width: 395px;">
                                    <textarea wrap="soft" rows="4" class="inputtext" id="tcradio1" style="width: 423px; height: 70px; overflow: auto; padding: 5px 0px 0px 5px; border: 1px solid rgb(204, 204, 204);" onchange="document.getElementById('title_1').innerText = document.getElementById('tcradio1').value;">请在此输入问题标题</textarea>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                        <div style="margin-left: 15px;">
                            <div style="padding-top: 10px;"></div>
                            <div style="clear: both;">
                                <div>
                                    <table class="tableoption" cellspacing="3" cellpadding="3" style="background-color: rgb(213, 226, 242);width: 424px">
                                        <tbody id="option_tbody">
                                        <tr id="tr1">
                                            <td style="width: 40px"><span style="font-size: 12px">选项1:</span></td>
                                            <td style="width: 217px;"><input id="input_1" type="text" class="inputtext choicetxt" style="width: 210px;" value="选项1"></td>
                                            <td><a class="design-icon design-finish" href="javascript:change_select('1');"></a></td>
                                            <td>
                                                <span style="vertical-align: bottom;">
                                                    <input type="checkbox" style="vertical-align: bottom;">
                                                    <span style="font-size: 12px">必选</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr id="tr2">
                                            <td style="width: 40px"><span style="font-size: 12px">选项2:</span></td>
                                            <td style="width: 217px;"><input id="input_2" type="text" class="inputtext choicetxt" style="width: 210px;" value="选项2"></td>
                                            <td><a class="design-icon design-finish" href="javascript:change_select('2');"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="divclear"></div>
                            <div style="margin: 5px 0px;">
                                <div style="width: 94%;">
                                    <span class="spanLeft">
                                        <a href="javascript:addNewItem_simple();" class="titlelnk" style="text-decoration:none;">
                                            <span class="choiceimg design-icon design-add"></span><b>添加选项</b>
                                        </a>
                                    </span>
                                </div>
                        </div>
                        <div style="clear: both; line-height: 1px;">&nbsp;</div>
                        <div style="margin: 10px 0px;">
                            <input type="button" value="完成编辑" class="submitbutton" style="width: 100%;" onclick="loadQ()">
                            <span style="color: red; font-size: 14px; display: inline-block; margin-left: 10px;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="PDF_bg_chezchenz" style="display: block; position: absolute; left: 0px; top: 0px; z-index: 10001; opacity: 0.6; width: 100%; height: 100%; background-color: rgb(0, 0, 0);">
        <div id="PDF_c_chezchenz" style="width: 528px; position: absolute; top: 199px; height: 378px; left: 350px; z-index: 10003; border-radius: 10px; background-color: white">
            <div id="divQAttr" style="width: 520px; text-align: left; display: block; margin: 5px; padding: 0px; border: 0px; height: 350px; z-index: 10005; background: white;">
                <ul class="div_title_attr_question" style="padding: 10px 0 0 10px; margin: 0px; background:#fff;">
                    <li style="list-style-type: none;margin-top: 20px">
                        <strong>问卷标题:</strong><input id="paper_attr_title" style="margin-left: 12px;background-color: whitesmoke;font-size: 12px;width: 400px;" class="" type="text" value="" size="54" maxlength="30">
                    </li>
                    <li style="list-style-type: none;margin-top: 20px">
                        <div style="margin-top: 120px"><strong>问卷说明:</strong></div>&nbsp;
                        <textarea id="pater_attr_desc" style="background-color: whitesmoke;margin-left: 55px;margin-top: -120px;width: 400px;height: 200px"></textarea>
                    </li>
                    <li><div style="height: 20px;width: 100%"></div></li>
                    <li>
                        <div align="center">
                            <button id="ensure_button" class="orange" onclick="
                            document.getElementById('PDF_bg_chezchenz').style.display='none';
                            document.getElementById('pater_title').innerText= document.getElementById('paper_attr_title').value;
                            document.getElementById('pater_desc').innerHTML= document.getElementById('pater_attr_desc').value;
                            ">确定</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
