<html xmlns="http://www.w3.org/1999/xhtml">
 <head id="ctl02_head1">
  <title>实时数据报告</title>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <link href="http://www.sojump.com/css/NewDefault.css?v=1" rel="stylesheet" type="text/css"/>
  <link href="http://www.desckie.com/static/admin/img/1431417666187269.png" rel="shortcut icon" type="image/x-icon"/>
 </head>
 <body style="BACKGROUND:#B0E0FA url(http://sojump.b0.upaiyun.com/images/wjx/JoinQuestionnaire/bg/abc2.jpg)  no-repeat fixed center 0">
  <img src="http://www.desckie.com/static/admin/img/nodata.png" alt="nodata" style="width: 600px;height: 500px;margin-top: 100px">
 </body>
</html>