<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>我的问卷</title>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <link href="http://www.desckie.com/static/admin/img/1431417666187269.png" rel="shortcut icon" type="image/x-icon"/>
  <link data-turbolinks-track="true" debug="false" href="https://cdn.jinshuju.net/assets/columbus/application-b088ea91390620e22dcde607f13bc41c.css" media="screen" rel="stylesheet"/>
  <script data-turbolinks-track="true" debug="false" src="https://cdn.jinshuju.net/assets/columbus/pusher-854ace9c4d1b08136b5092a579a1a274.js"></script>
  <script data-turbolinks-track="true" debug="false" src="https://cdn.jinshuju.net/assets/columbus/application-178a2318a181f06287fb0efaa636f7f8.js"></script>
  <script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
 </head>
 <body>
  <div class="flash-notifications" data-message="{}"></div>
  <header>
   <div class="container header-banner">
    <div class="header-nav header-logo">
     <a class="brand brand-event track-event" href="http://www.desckie.com/">
         <i class="gd-icon-logo"></i><span class="brand-name">问卷网</span>
     </a>
    </div>
    <div class="global-search-container search-box" id="global_search_container">
     <div class="search-backdrop"></div>
     <input class="search-content" id="key_word" name="key_word" type="search" onkeydown="search();">
     <i class="search-icon gd-icon-search" style="margin-top: -15px"></i>
     <a class="search-trigger" href="javascript:void(0)"></a>
    </div>
    <ul class="header-nav user-nav">
     <li>
      <a class="top-settings" href="javascript:void(0)">
       <div class="avatar-container">
        <img alt="Avatar default" class="avatar" src="{{ head_img_src }}"/>
       </div>
       <span class="user-name"><span class="popup-trigger"></span></span>
      </a>
     </li>
    </ul>
    <div class="top-settings-popup gd-hide">
     <div class="top-settings-content">
      <ul class="links">
       <li class="email-with-plan">
        您好,亲爱的用户:
        <div class="name-with-vip-style">
         <span class="vip-user free_user">{{ user }}</span>
        </div>
       </li>
       <li class="separator"></li>
       <li><a class="setting-profile-link profile-event track-event" href="http://www.desckie.com">主页</a></li>
       <li class="separator"></li>
       <li><a class="template-event track-event" href="http://www.desckie.com/select/">模板中心</a></li>
       <li class="separator"></li>
       <li><a href="http://www.desckie.com/select/list/" target="_blank">我的问卷</a></li>
       <li class="separator"></li>
       <li><a href="http://www.desckie.com/select/collect/" target="_blank">我的收藏</a></li>
       <li class="separator"></li>
       <li><a href="http://www.desckie.com/head_sculpture/" target="_blank">我的头像</a></li>
       <li class="separator"></li>
       <li><a href="javascript:logout();">注销</a></li>
      </ul>
     </div>
    </div>
   </div>
  </header>
  <div class="form-nav">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="pull-right" id="copy_published_form_link">
       <span>发布表单</span>
       <input class="copy-target gd-input-thin" id="published_form_link" type="text" value="http://www.desckie.com/select/template_1/view?user={{ user }}&title={{ title }}" disabled="disabled"/>
       <a class="with-tooltip copy-form-link copy-form-link-event track-event" data-clipboard-target="#published_form_link" data-message="网址复制成功" data-need-reset-after-hide="true" data-placement="bottom" data-role="copy" data-title="复制网址" href="javascript:void(0);" title="复制网址">
        <i class="gd-icon-copy"></i>
       </a>
       <a class="with-tooltip open-form-link open-form-link-event track-event" data-no-turbolink="true" data-placement="bottom" href="http://www.desckie.com/select/template_1/view?user={{ user }}&title={{ title }}" target="_blank" title="直接打开">
        <i class="gd-icon-publish"></i>
       </a>
      </div>
      <div class="subnav" data-placement="bottom" id="form_nav">
       <a class="active track-event" href="javascript:void(0);" id="publish_nav">
        发布
       </a>
       <a class="track-event" href="/submit/welcome/realHandler?user={{ user }}&title={{ title }}" id="entries_nav">
        数据
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-md-10">
     <div class="main_content with-tabs" id="form_publish">
      <div class="tab-content">
       <div class="tab-pane active" id="tab_visit_url">
        <div class="content-section">
         <div class="section-header">
          <span class="title">直接访问网址</span>
         </div>
         <div class="section-body">
          <div class="content-sub-section sibling-form-el-container">
           <input class="copy-target gd-input-xxlarge" id="published_form_link_2" readonly="readonly" type="text" value="http://www.desckie.com/select/template_1/view?user={{ user }}&title={{ title }}"/>
           <a class="copy-link gd-btn gd-btn-info" data-clipboard-target="#published_form_link_2" data-message="网址复制成功" data-role="copy" href="javascript:void(0)" id="copy_link_1">复制网址</a>
           <a class="gd-btn gd-btn-info open-url" data-no-turbolink="true" href="http://www.desckie.com/select/template_1/view?user={{ user }}&title={{ title }}" target="_blank">直接打开</a>
          </div>
         </div>
        </div>
        <div class="content-section weixin-thumbnail-section">
         <div class="section-header">
          <span class="title">分享到微信</span>
         </div>
         <div class="section-body">
          <div class="section-description"><p>使用微信扫一扫分享给朋友或微信朋友圈</p></div>
          <div class="content-sub-section">
           <div class="weixin-share-content">
            <div class="weixin-timeline">
             <img alt="Weixin timeline" style="margin-left: 150px" class="timeline-bg" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/weixin_timeline-6f763cc8c21a32e3512938fa357d18a0.png"/>
             <img alt="Wx img" style="margin-left: 150px" class="selected-thumbnail" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-10-9ce481de4c4f1a01b6a07c80eaca7237.png"/>
             <span class="form-name" style="margin-left: 150px">未命名表单</span>
            </div>
            <div id="qrcode" style="background-color: white;width: 174px;height: 174px;margin-left: 520px"></div>
           </div>
          </div>
         </div>
        </div>
        <div class="content-section">
         <div class="section-header">
          <span class="title">分享到其他社交网站
           <i class="help-document-tooltip gd-icon-help-circle-o" data-content="您可以将您的表单分享到您的微博、QQ空间或人人网上，方便更多人填写。" data-id="help_doc_form_publish_share_to_social" data-title="分享到社交网站"></i>
           <span style="font-size: 12px;">注:若问卷标题中含中文,则分享至腾讯微博不可用</span>
          </span>
         </div>
         <div class="section-body">
          <div class="content-sub-section">
           <div class="gd-social-share">
            <a class="share-sinaminiblog" onclick="javascript:shareIt.weibo()" title="分享到新浪微博"></a>
            <a class="share-qqmb" onclick="javascript:shareIt.qqmb()" title="分享到腾讯微博"></a>
            <a class="share-qzone" onclick="javascript:shareIt.qzone()" title="分享到QQ空间"></a>
            <a class="share-renren" onclick="javascript:shareIt.renren()" title="分享到人人网"></a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script charset="utf-8" type="text/javascript">
   shareIt.setEntry({
        title: "我刚刚在问卷网上创建了问卷,邀请大家轻击链接来填写,谢谢!",
        url: $("#published_form_link").val(),
        description: $.trim($("#form_summary").text()).substring(0, 100)
      });
  </script>
  <script>
      function logout(){
          var url = "http://www.desckie.com/logout/";
          $.get(url, function(response){
              window.location.href = "http://www.desckie.com";
              alert(response);
          });
      }
      function search(){
          if(event.keyCode == 13){
              var title_include = document.getElementById("key_word").value;
              if(title_include){
                  var url = "http://www.desckie.com/search_result/?title_include="+title_include;
                  window.location.href = url;
              }
              else  alert("请输入需要检索的问卷标题");
          }
      }
  </script>
  <script>
      jQuery('#qrcode').qrcode({width: 174,height: 174,text: encodeURI("http://www.desckie.com/select/template_1/view?user={{ user }}&title={{ title }}")});
  </script>
 </body>
</html>
