<!DOCTYPE html>
<html>
 <head>
  <title>成功生成问卷</title>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <link href="http://www.desckie.com/static/admin/img/1431417666187269.png" rel="shortcut icon" type="image/x-icon"/>
  <link data-turbolinks-track="true" debug="false" href="https://cdn.jinshuju.net/assets/columbus/application-b088ea91390620e22dcde607f13bc41c.css" media="screen" rel="stylesheet"/>
  <script data-turbolinks-track="true" debug="false" src="https://cdn.jinshuju.net/assets/columbus/pusher-854ace9c4d1b08136b5092a579a1a274.js"></script>
  <script data-turbolinks-track="true" debug="false" src="https://cdn.jinshuju.net/assets/columbus/application-178a2318a181f06287fb0efaa636f7f8.js"></script>
  <script>
    window.zhuge = window.zhuge || [];
  window.zhuge.methods = "_init debug identify track trackLink trackForm page".split(" ");
  window.zhuge.factory = function(b) {
    return function() {
      var a = Array.prototype.slice.call(arguments);
      a.unshift(b);
      window.zhuge.push(a);
      return window.zhuge
    }
  };
  for (var i = 0; i < window.zhuge.methods.length; i++) {
    var key = window.zhuge.methods[i];
    window.zhuge[key] = window.zhuge.factory(key)
  }
  window.zhuge.load = function(b, x) {
    if (!document.getElementById("zhuge-js")) {
      var a = document.createElement("script");
      var verDate = new Date();
      var verStr = verDate.getFullYear().toString()
          + verDate.getMonth().toString() + verDate.getDate().toString();

      a.type = "text/javascript";
      a.id = "zhuge-js";
      a.async = !0;
      a.src = (location.protocol == 'http:' ? "http://sdk.zhugeio.com/zhuge-lastest.min.js?v=" : 'https://zgsdk.zhugeio.com/zhuge-lastest.min.js?v=') + verStr;
      var c = document.getElementsByTagName("script")[0];
      c.parentNode.insertBefore(a, c);
      window.zhuge._init(b, x)
    }
  };
  window.zhuge.load('b205a9d9803249e29672f802d87a2fa9', {debug: "false" == 'true'});
    zhuge.identify('56aaf4d0a3f5204c490008aa',
      { name: '870644199@qq.com',
        'paid': false,
        '注册日期': 2016-01-29
      });
   </script>
 </head>
 <body>
  <div class="flash-notifications" data-message="{}"></div>
  <header>
   <div class="container header-banner">
    <div class="header-nav header-logo">
     <a class="brand brand-event track-event" href="http://www.desckie.com/">
         <i class="gd-icon-logo"></i><span class="brand-name">问卷网</span>
     </a>
    </div>
    <!-- 搜索功能禁用 -->
    <div class="global-search-container search-box" id="global_search_container">
     <div class="search-backdrop"></div>
     <input class="search-content" id="key_word" name="key_word" type="search" value="搜索功能暂时禁用" disabled="disabled"/>
     <i class="search-icon gd-icon-search" style="margin-left: -150px;margin-top: -15px"></i>
     <a class="search-trigger" href="javascript:void(0)"></a>
    </div>
    <ul class="header-nav user-nav">
     <li>
      <a class="top-settings" href="javascript:void(0)">
       <div class="avatar-container">
        <img alt="Avatar default" class="avatar" src="https://cdn.jinshuju.net/assets/columbus/avatar_default-5e358f2433179a760ee1ed1f7524eb66.png"/>
        <i class="gd-icon-exclamation-triangle email-warning with-tooltip" data-interactive-tolerance="300" data-tooltip-offset-y="-12" title="该功能等待开发中"></i>
       </div>
       <span class="user-name"><span class="popup-trigger"></span></span>
      </a>
     </li>
    </ul>
    <div class="top-settings-popup gd-hide">
     <div class="top-settings-content">
      <ul class="links">
       <li class="email-with-plan">
        您好,亲爱的用户:
        <div class="name-with-vip-style">
         <span class="vip-user free_user">{{ user }}</span>
        </div>
       </li>
       <li class="separator"></li>
       <li><a class="setting-profile-link profile-event track-event" href="http://www.desckie.com/profile/">个人中心</a></li>
       <li class="separator"></li>
       <li><a class="template-event track-event" href="http://www.desckie.com/select/">模板中心</a></li>
       <li class="separator"></li>
       <li><a href="http://help.jinshuju.net/support/" target="_blank">我的问卷</a></li>
       <li class="separator"></li>
       <li class="logout">
        <a class="logout-link logout-event track-event" href="http://www.desckie.com/">退出</a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </header>
  <div class="form-nav">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="pull-right" id="copy_published_form_link">
       <span>发布表单</span>
       <input class="copy-target gd-input-thin" id="published_form_link" type="text" value="http://www.desckie.com/select/template_1/view?user={{ user }}" disabled="disabled"/>
       <a class="with-tooltip copy-form-link copy-form-link-event track-event" data-clipboard-target="#published_form_link" data-message="网址复制成功" data-need-reset-after-hide="true" data-placement="bottom" data-role="copy" data-title="复制网址" href="javascript:void(0);" title="复制网址">
        <i class="gd-icon-copy"></i>
       </a>
       <a class="with-tooltip open-form-link open-form-link-event track-event" data-no-turbolink="true" data-placement="bottom" href="http://www.desckie.com/select/template_1/view?user={{ user }}" target="_blank" title="直接打开">
        <i class="gd-icon-publish"></i>
       </a>
      </div>
      <div class="subnav" data-placement="bottom" id="form_nav">
       <a class="track-event" href="/forms/X5y5Lv">
        概述
       </a>
       <a class="track-event" href="/forms/X5y5Lv/edit">
        编辑
       </a>
       <a class="active track-event" href="/forms/X5y5Lv/publish" id="publish_nav">
        发布
       </a>
       <a class="track-event" href="/submit/welcome/realHandler?user={{ user }}" id="entries_nav">
        数据
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-md-10">
     <div class="main_content with-tabs" id="form_publish">
      <div class="tab-content">
       <div class="tab-pane active" id="tab_visit_url">
        <div class="content-section">
         <div class="section-header">
          <span class="title">直接访问网址</span>
         </div>
         <div class="section-body">
          <div class="content-sub-section sibling-form-el-container">
           <input class="copy-target gd-input-xxlarge" id="published_form_link_2" readonly="readonly" type="text" value="http://www.desckie.com/select/template_1/view?user={{ user }}"/>
           <a class="copy-link gd-btn gd-btn-info" data-clipboard-target="#published_form_link_2" data-message="网址复制成功" data-role="copy" href="javascript:void(0)" id="copy_link_1">复制网址</a>
           <a class="gd-btn gd-btn-info open-url" data-no-turbolink="true" href="http://www.desckie.com/select/template_1/view?user={{ user }}" target="_blank">直接打开</a>
          </div>
         </div>
        </div>
        <div class="content-section weixin-thumbnail-section">
         <div class="section-header">
          <span class="title">分享到微信</span>
         </div>
         <div class="section-body">
          <div class="section-description"><p>可以选择以下图标来替换分享微信朋友圈链接图标。</p></div>
          <div class="content-sub-section">
           <h6 class="title">精选设计图标</h6>
           <div class="weixin-share-content">
            <ul class="thumbnail-icons predefined-thumbnail">
             <li class=" active" data-thumbnail-name="1">
              <img alt="Wx img 1" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-1-a5b18c53c1b384215be323eb886ac7e4.png"/>
             </li>
             <li class="" data-thumbnail-name="2">
              <img alt="Wx img 2" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-2-f17b7f0634e03745c87bf6d54ae9b9ec.png"/>
             </li>
             <li class="" data-thumbnail-name="3">
              <img alt="Wx img 3" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-3-9d86aeae6d4af40999fb4a76e713c60f.png"/>
             </li>
             <li class="" data-thumbnail-name="4">
              <img alt="Wx img 4" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-4-0fc7b6d02cb1f688ddf578aa9c445e5e.png"/>
             </li>
             <li class="" data-thumbnail-name="5">
              <img alt="Wx img 5" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-5-6f48863ae9a15c90a50e118af3975a6d.png"/>
             </li>
             <li class="" data-thumbnail-name="6">
              <img alt="Wx img 6" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-6-172f4b86866b9c5a25b4145135a24838.png"/>
             </li>
             <li class="" data-thumbnail-name="7">
              <img alt="Wx img 7" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-7-fa5585c3a847ac8bae553c7350addad0.png"/>
             </li>
             <li class="" data-thumbnail-name="8">
              <img alt="Wx img 8" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-8-119e9c5a8a9721de315cd00c75645114.png"/>
             </li>
             <li class="" data-thumbnail-name="9">
              <img alt="Wx img 9" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-9-bb5a2a48cf816d9b54ca0a459c7e0645.png"/>
             </li>
             <li class="" data-thumbnail-name="10">
              <img alt="Wx img 10" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-10-9ce481de4c4f1a01b6a07c80eaca7237.png"/>
             </li>
             <li class="" data-thumbnail-name="11">
              <img alt="Wx img 11" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-11-b0fe3b2a027050c91eac25b88993abb6.png"/>
             </li>
             <li class="" data-thumbnail-name="12">
              <img alt="Wx img 12" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-12-3d50aad4cd4350bdbb955caa6592ccac.png"/>
             </li>
             <li class="" data-thumbnail-name="13">
              <img alt="Wx img 13" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-13-3da9482ec605b65021a56b0224ebdc09.png"/>
             </li>
             <li class="" data-thumbnail-name="14">
              <img alt="Wx img 14" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-14-02a15b03a830b579c241c5aca7ba3a3c.png"/>
             </li>
             <li class="" data-thumbnail-name="15">
              <img alt="Wx img 15" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-15-f2cd22751620c9a690e74d43b3deb06b.png"/>
             </li>
             <li class="" data-thumbnail-name="16">
              <img alt="Wx img 16" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-16-cc07c5adef5b4e09791471fca2dd2c85.png"/>
             </li>
             <li class="" data-thumbnail-name="17">
              <img alt="Wx img 17" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-17-c30c94992bc5992205dbafaf0ec8fe59.png"/>
             </li>
             <li class="" data-thumbnail-name="18">
              <img alt="Wx img 18" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-18-d42e182f1910b6ba3d3ec3e07c124a63.png"/>
             </li>
            </ul>
            <div class="weixin-timeline">
             <img alt="Weixin timeline" style="margin-left: 150px" class="timeline-bg" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/weixin_timeline-6f763cc8c21a32e3512938fa357d18a0.png"/>
             <img alt="Wx img 1" style="margin-left: 150px" class="selected-thumbnail" src="https://cdn.jinshuju.net/assets/columbus/weixin_thumbnail/wx-img-1-a5b18c53c1b384215be323eb886ac7e4.png"/>
             <span class="form-name" style="margin-left: 150px">未命名表单</span>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="content-section">
         <div class="section-header">
          <span class="title">分享到其他社交网站
           <i class="help-document-tooltip gd-icon-help-circle-o" data-content="您可以将您的表单分享到您的微博、QQ空间或人人网上，方便更多人填写。" data-id="help_doc_form_publish_share_to_social" data-title="分享到社交网站"></i>
          </span>
         </div>
         <div class="section-body">
          <div class="content-sub-section">
           <div class="gd-social-share">
            <a class="share-sinaminiblog" onclick="javascript:shareIt.weibo()" title="分享到新浪微博"></a>
            <a class="share-qqmb" onclick="javascript:shareIt.qqmb()" title="分享到腾讯微博"></a>
            <a class="share-qzone" onclick="javascript:shareIt.qzone()" title="分享到QQ空间"></a>
            <a class="share-renren" onclick="javascript:shareIt.renren()" title="分享到人人网"></a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script>
    $(function(){
    var formCoverJson = $.parseJSON('{"type":"Form","fid":"56aaf4e35d7d2806090000fd","token":"X5y5Lv","name":"未命名表单","color_i":3,"color":"#FF6885","icon":"form-icon-thumbs-up","count":0,"tags":[],"shared":false,"managable":true,"weixin":false,"folder_id":null,"pinned":false}');

    $.get('/user_form_folders', function(response) {
      GD.formSettingFolderListView = new GD.FormSettingFolderListView(response);
      var formCover = new GD.BaseFileCover(formCoverJson);
      GD.bindFormSettingTooltipster($('.form-name .settings'), '#form_overview_setting_template', formCover);
    });
    })
  </script>
  <script charset="utf-8" type="text/javascript">
   shareIt.setEntry({
        title: "我刚刚在问卷网上创建了问卷,邀请大家轻击链接来填写,谢谢!",
        url: $("#published_form_link").val(),
        description: $.trim($("#form_summary").text()).substring(0, 100)
      });
  </script>
 </body>
</html>