<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/css">
    <link href="http://www.desckie.com/static/admin/img/1431417666187269.png" rel="shortcut icon" type="image/x-icon"/>
    <title>模板选择</title>
    <link href="../static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../static/admin/js/bootstrap.min.js"></script>
    <script src="../static/admin/js/jquery.js"></script>
</head>
<body style="background-color: #EDF3FE">
<hr>
<article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
    <a class="thumbnail" href="http://www.desckie.com/select/template_1/" target="_blank">
        <img src="http://www.desckie.com/static/admin/img/temp1.png" width="100%" height="400px">
    </a>
    <h2 class="post-title">
        <a href="http://www.desckie.com/select/template_1/" target="_blank" style="text-decoration: none;font-family: 'Lucida Grande'"><p align="center">企业员工满意度调查问卷</p></a>
    </h2>
</article>
<article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
    <a class="thumbnail" href="#" target="_blank">
        <img src="../static/admin/img/eda5344161dce779558fc6532748f.png" width="100%" height="400px">
    </a>
    <h2 class="post-title">
        <a href="#" target="_blank" style="text-decoration: none;font-family: 'Lucida Grande'"><p align="center">Title</p></a>
    </h2>
</article>

<div class="footer text-center">Copyright <span>©</span> 2016 Hang All Rights Reserved</div>
</body>
</html>