<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="调查问卷模板选择" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <title>模板选择</title>
    <link href="../static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/admin/css/site.min.css" rel="stylesheet" type="text/css">
    <link href="../static/admin/css/public.css" rel="stylesheet" type="text/css">
    <link href="../static/admin/css/home.css" rel="stylesheet" type="text/css">
    <link href="../static/admin/css/index.css" rel="stylesheet" type="text/css">
    <script src="../static/admin/js/bootstrap.min.js"></script>
    <script src="../static/admin/js/jquery.js"></script>
</head>
<body class="home-template" style="background-color: #EDF3FE">
<div class="header" style="background-image: url('../static/admin/img/topic.jpg');width: 1280px;height: 400px;">
    <div style="height: 160px"></div>
    <p style="font-size: 30px;color: white;" align="center">选择模板</p>
</div>
<hr>
<!--  可选模板  -->
<div class="container">
    <div class="row" id="post-list">
        <div class="col-xs-12 col-sm-6">
            <article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
                <div class="post-featured-image">
                    <a class="thumbnail" href="#" target="_blank">
                        <img src="http://image.youzhan.org/e/10/eda5344161dce779558fc6532748f.png!thumb" width="700" height="438" alt="Grum">
                    </a>
                </div>
                <h2 class="post-title">
                    <a href="#" target="_blank" style="text-decoration: none"><p align="center">Title</p></a>
                </h2>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6">
            <article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
                <div class="post-featured-image">
                    <a class="thumbnail" href="#" target="_blank">
                        <img src="http://image.youzhan.org/e/10/eda5344161dce779558fc6532748f.png!thumb" width="700" height="438" alt="Grum">
                    </a>
                </div>
                <h2 class="post-title">
                    <a href="#" target="_blank" style="text-decoration: none"><p align="center">Title</p></a>
                </h2>
            </article>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="post-list">
        <div class="col-xs-12 col-sm-6">
            <article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
                <div class="post-featured-image">
                    <a class="thumbnail" href="#" target="_blank">
                        <img src="http://image.youzhan.org/e/10/eda5344161dce779558fc6532748f.png!thumb" width="700" height="438" alt="Grum">
                    </a>
                </div>
                <h2 class="post-title">
                    <a href="#" target="_blank" style="text-decoration: none"><p align="center">Title</p></a>
                </h2>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6">
            <article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
                <div class="post-featured-image">
                    <a class="thumbnail" href="#" target="_blank">
                        <img src="http://image.youzhan.org/e/10/eda5344161dce779558fc6532748f.png!thumb" width="700" height="438" alt="Grum">
                    </a>
                </div>
                <h2 class="post-title">
                    <a href="#" target="_blank" style="text-decoration: none"><p align="center">Title</p></a>
                </h2>
            </article>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="post-list">
        <div class="col-xs-12 col-sm-6">
            <article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
                <div class="post-featured-image">
                    <a class="thumbnail" href="#" target="_blank">
                        <img src="http://image.youzhan.org/e/10/eda5344161dce779558fc6532748f.png!thumb" width="700" height="438" alt="Grum">
                    </a>
                </div>
                <h2 class="post-title">
                    <a href="#" target="_blank" style="text-decoration: none"><p align="center">Title</p></a>
                </h2>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6">
            <article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
                <div class="post-featured-image">
                    <a class="thumbnail" href="#" target="_blank">
                        <img src="http://image.youzhan.org/e/10/eda5344161dce779558fc6532748f.png!thumb" width="700" height="438" alt="Grum">
                    </a>
                </div>
                <h2 class="post-title">
                    <a href="#" target="_blank" style="text-decoration: none"><p align="center">Title</p></a>
                </h2>
            </article>
        </div>
    </div>
</div>

<div align="center">
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
</div>
</body>
</html>