<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/css">
    <link href="http://www.desckie.com/static/admin/img/1431417666187269.png" rel="shortcut icon" type="image/x-icon"/>
    <title>模板选择</title>
    <link href="../static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #EDF3FE">
<hr>
<article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
    <a class="thumbnail" href="http://www.desckie.com/select/template_1/" target="_self">
        <img src="http://www.desckie.com/static/admin/img/temp1.png" width="100%" height="400px">
    </a>
    <h2 class="post-title">
        <a href="http://www.desckie.com/select/template_1/" target="_self" style="text-decoration: none;font-family: 'Lucida Grande'"><p align="center" style="color: deepskyblue;font-size: 22px">企业员工满意度调查问卷</p></a>
    </h2>
</article>
<article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
    <a class="thumbnail" href="javascript:alert('该模板尚未创建');" target="_self">
        <img src="../static/admin/img/temp2.png" width="100%" height="400px">
    </a>
    <h2 class="post-title">
        <a href="javascript:alert('该模板尚未创建');" target="_self" style="text-decoration: none;font-family: 'Lucida Grande'"><p align="center" style="color: deepskyblue;font-size: 22px" >手机市场需求调查问卷</p></a>
    </h2>
</article>
<article class="post tag-foreign-website tag-bootstrap-v3 thumbnail" style="background-color: #EDF3FE">
    <a class="thumbnail" href="javascript:alert('该模板尚未创建');" target="_self">
        <img src="../static/admin/img/temp3.png" width="100%" height="400px">
    </a>
    <h2 class="post-title">
        <a href="javascript:alert('该模板尚未创建');" target="_self" style="text-decoration: none;font-family: 'Lucida Grande'"><p align="center" style="color: deepskyblue;font-size: 22px" >企业员工组织公平感与敬业度调查</p></a>
    </h2>
</article>
<div class="footer text-center">Copyright <span>©</span> 2016 Hang All Rights Reserved</div>
</body>
</html>