<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="rgb(235,235,228)">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="HandheldFriendly" content="True" />

    <meta name="author" content="Interactive Experience Center,admin@iec-uestc.com" />
    <meta name="description" content="不超过150个关键字" />
    <meta name="keywords" content="Interactive Experience Center,IEC-Studio,UESTC,IEC-UESTC,IEC,互动体验中心,电子科技大学" />

    <script src="/static/admin/js/jquery.js"></script>
    <script src="/static/admin/IECblog/_js/pace.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet/less" type="text/css" href="/static/admin/IECblog/_css/markdown.less">
    <link rel="stylesheet/less" href="/static/admin/IECblog/_css/custom.less">
    <link rel="stylesheet" href="/static/admin/IECblog/_css/prettify.css">
    <title>{{ title }}</title>
</head>
<body>

<div class="article">{{ article | safe }}</div>

<div class="nav">
    <div class="display-hack">
    <nav class="nav-fillpath"  id="nav">
        <a class="prev" href="{{ pre }}">
            <span class="icon-wrap">
                <svg></svg>
            </span>
            <h3><strong>prev</strong> article</h3>
        </a>
        <a class="next" href="{{ next }}">
            <span class="icon-wrap">
                <svg></svg>
            </span>
            <h3><strong>next</strong> article</h3>
        </a>
    </nav>
    </div>

    <!--<nav class="nav-roundslide">-->
        <!--<a class="prev" href="/item1">-->
            <!--<span class="icon-wrap">-->
                <!--<svg class="icon" width="32" height="32" viewBox="0 0 64 64">-->
                    <!--<path id="arrow-left-4" d="M15.946 48l0.003-10.33 47.411 0.003v-11.37h-47.414l0.003-10.304-15.309 16z" />-->
                <!--</svg>-->
            <!--</span>-->
            <!--<h3>PREV Article</h3>-->
        <!--</a>-->
        <!--<a class="next" href="/item3">-->
            <!--<span class="icon-wrap">-->
                <!--<svg class="icon" width="32" height="32" viewBox="0 0 64 64">-->
                    <!--<path id="arrow-right-4" d="M48.058 48l-0.003-10.33-47.414 0.003v-11.37h47.418l-0.003-10.304 15.306 16z" />                </svg>-->
            <!--</span>-->
            <!--<h3>NEXT Article</h3>-->
        <!--</a>-->
    <!--</nav>-->
</div>

<div class="comment">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <!-- UY END -->
</div>
<script src="/static/admin/IECblog/_js/less.min.js"></script>
<script src="/static/admin/IECblog/_js/lazyload.js"></script>
<script>
    LazyLoad.js(["/static/admin/IECBlog/_js/custom.js","/static/admin/IECBlog/_js/prettify.js"],function(){
        console.log("顺序加载已完成");
    });
</script>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2089170"></script>
</body>
</html>
