
body{
	background-color: #fff!important;
}
.imgbox{
	height:317px;
	width:100%;
	min-width: 990px;
	background-image:url(../img/bg.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	background-size:cover;
}
.imgbox_survey{
	height:317px;
	width:100%;
	min-width: 990px;
	background-image:url(../img/wenjuan_topic.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	background-size:cover;
}
.imgbox_form{
	height:317px;
	width:100%;
	min-width: 990px;
	background-image:url(../img/form_topic.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	background-size:cover;
}
.imgbox_assess{
	height:317px;
	width:100%;
	min-width: 990px;
	background-image:url(../img/assess_topic.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	background-size:cover;
}
.imgbox_n{
	width:990px;
	height:317px;
	margin:0 auto;
	/*position:relative;*/
	}
.imgbox_log{
/*	position:absolute;
	top:150px;
	left:0px;*/
	padding-top:150px;
	width:500px;
	height:85px;
	}
.imgbox_log h2{
	color:#fff;
	padding:10px 0;
	}
.imgbox_log .WJButton {
	padding: .6em 2em;
}
.funInfo{
	width:990px;
	margin:0 auto;
	}
.statistics{
	display:inline-block;
	width:100%;
	padding:10px 0 25px 0;
	}
.tjsj{
	float:left;
	margin-right:15px;
	font-size:20px;
	}
.tjsj span{
	padding:0 10px 0 0;
	color:#FF6803;
	font-size:26px;
	font-family:Arial, Helvetica, sans-serif;
	}
.info_m{
	float:left;
	overflow: hidden;
	display: inline;
	width:240px;
	min-height:75px;
	position:relative;
	padding:0 0 40px 0;
	margin-left: 10px;
	border-radius: 10px;
	}
.info_con{ float: left; height: 270px; margin:0 0 0 -10px;}
.info_mp{
	padding:0 20px;
	}
.infoImg{
	background-image: url("../img/frontpage_icon.png");
    background-repeat: no-repeat;
    height: 110px;
    left: 62px;
    position: absolute;
    top: 20px;
    width: 110px;
	}
.ifi1{background-position:-23px -20px;}
.ifi2{background-position:-175px -18px;}
.ifi3{background-position:-325px -18px;}
.ifi4{background-position:-474px -17px;}
.ifi5{background-position:-86px -86px;}
.ifi6{background-position:-325px -18px;}
.info_r{
	padding-top:145px;
	position:relative;
	font-size:14px;
	color:#A1A1A1;
	}
.info_r h2{
	text-align: center;
	font-size:20px;
	line-height:24px;
	margin:0 0 8px 0;
	color:#666666;
	}
.cooperation{
	height:120px;
	width:990px;
	margin:15px auto 0 auto;
	}
.cooperation h2{
	font-size:21px;
	text-align: center;
	}
.wjinput{
    float: left;
    font-size: 18px;
    height: 29px;
    margin-right: 10px;
    padding: 2px 10px;
    width: 280px;
	}
.brand{
	margin:18px 0 0 0;
	box-shadow:0 0 30px #fff inset;
	height:80px;
	background:url(../img/brand.jpg) 0 -1px no-repeat;
	}

.orange_text{
	color:#F78D1D;
	}

/*------------------------------------------*/
.library_list{ float:left; width:465px; margin:30px 0 0 50px;display:inline; overflow:hidden;}
.library_list a:hover{ color:#1C658B;}
.list_top{
	border-bottom:1px solid #f8f8f8;
	height:32px;
	line-height:32px;
	margin:0 0px 5px 0px;
	padding-bottom:5px;
	}
.list_title{font-size:18px;}
.list_ul{margin:0 0px;}
.list_ul li{ float:left; line-height:30px; width:100%;}
.list_top h1{ float:left;}
.list_top a{ float:right; color:#B9B9B9;}
.list_info{float:right;color:#B9B9B9; height:30px;}
.list_text{ float:left; padding-left:0px; color:#888;}

.progressBar{ float:right; text-align:right;}
.Bar_z{
	float:right;
	width:53px;
	height:4px;
	display:inline;
	overflow:hidden;
	margin:13px 0 0 10px;
	background-color:#E1E1E1;
	}
.Bar_n{
	float:left;
	width:1px;
	height:4px;
	background:#F78D1D;
	}
.BannerGray{
	width: 100%;
	background-color: #F9F9F9;
}
.BannerBlue{
	width: 100%;
	background-color: #E7E7E7;
}
.BannerWhite{
	width: 100%;
	background-color: #fff;
}
.DisplayDiv{
	width: 990px;
	margin: 0 auto;
	padding: 60px 0;
}
.DisplayDiv .DDl{ float: left;}
.DisplayDiv .DDr{ float: right;}
.DisplayDiv .w320{
	 max-width: 330px;
	 *width:330px;
	 margin-left: 50px;
}
.DisplayDiv .DDl_title{
	font-size: 31px;
	padding: 10px 0 0 0;
	color: #6E6E6E;
}
.DisplayDiv .DDl_top{
    padding: 10px 0;
    color: #6E6E6E;
}
.DisplayDiv .DDl_list ul{

}
.DisplayDiv .DDl_list ul li{line-height: 21px;}
.DisplayDiv ul i{
	float: left; width: 12px;height: 12px;margin: 5px 5px 0 0;
	background-image: url(../img/piont.png);
	background-repeat: no-repeat;
}
.DisplayDiv .Point_1 i{background-position: -2px -2px;}
.DisplayDiv .Point_2 i{background-position: -2px -17px;}
.DisplayDiv .Point_3 i{background-position: -2px -31px;}
.DisplayDiv .Point_4 i{background-position: -2px -44px;}
.DisplayDiv .Point_5 i{background-position: -2px -58px;}
.DisplayDiv .Point_6 i{background-position: -2px -72px;}

/*---------------------------*/
.wjOrform{
    width: 990px;
    margin: 0 auto;
    padding: 20px 0;
}
.Expcon{
    float: left;
    width: 480px;
    margin-left: 25px;
}
.exp_title{
    font-size: 24px;
    color: #657D7D;
    padding:0 0 8px 0;
}
.Expcon .et_ico{
	float: left;
	width: 45px;
	height: 30px;
	background: url("../img/frontpage_icon.png") no-repeat -251px -172px;
}
.mlnot{margin-left:0px!important;}
.exp_top{
    background-color: #F1F1F1;
    padding:15px 30px;
    font-size: 15px;
    color: #8C9696;
}
.exp_con{
    background-color: #F9F9F9;
    padding:15px 10px;
    position: relative;
}
.exp_mp {
	height: 75px;
    padding: 0 20px 20px 20px;
}
.expImg {
    background-image: url("../img/frontpage_icon.png");
    background-repeat: no-repeat;
    height: 75px;
    position: absolute;
    width: 75px;
}

.exp1 {background-position: -25px -150px;}
.exp2 {background-position: -25px -246px;}
.exp3 {background-position: -25px -340px;}
.exp4 {background-position: -25px -433px;}
.exp5 {background-position: -135px -158px;}
.exp6 {background-position: -135px -250px;}
.exp7 {background-position: -135px -335px;}
.exp8 {background-position: -130px -438px}

.exp_r {
	color: #A3AFAF;
	font-size: 14px;
    padding-left: 85px;
    position: relative;
}
.exp_r h2 {
    color: #6F6F6F;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 5px;
}
.MoreExp{
	bottom: 5px;
    color: #A3AFAF;
    height: 24px;
    position: absolute;
    right: 10px;
    width: 60px;
}

.DDl_title i{
	float: left;
	background-image: url("../img/hot.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 8px 8px 0  0;
}

.DDl_title .bz1{background-position: 0 0;}
.DDl_title .bz2{background-position: 0 -34px;}
.DDl_title .bz3{background-position: 0 -68px;}
.DDl_list li .hotI{
	display: inline-block;
	background-image: url("../img/hot.png");
    background-repeat: no-repeat;
    background-position: 0 -103px;
    width: 33px;
    height: 15px;
    margin: 0 0 0 8px;
    *zoom:1;
    *display: inline;
}
.mbdiv{
	border-top: 1px solid #E5E5E5;
	padding: 30px 0px;
}
.Celebrate{
	position: relative;
	width: 100%;
	background-image: url("../img/yuandanbg.png");
    background-repeat: no-repeat;
    background-position: center 0;
    height: 592px;
}
.Celebrate_clean{
	position: absolute;
	bottom: 114px;
	width: 275px;
	height: 66px;
	left: 50%;
	cursor: pointer;
	margin-left: 76px;
 }
 .assess_zs{
 	width:420px;
	text-align: center;
	margin: 0 auto 50px auto;
 }
.assess_zs .DDl_title{
	font-size: 36px;
	color: #000;
}
.assess_zs .DDl_top{
	font-size: 18px;
	line-height: 31px;
}
/*cq*/
.survey_ban{ width: 100%; min-height: 300px; text-align: center;}
.survey_ban img{ width: 100%;}
.survey_box1,.survey_box2,.survey_box3,.survey_box4,.survey_box5{position: relative; min-height: 200px; width: 100%;}
.mbdiv{border-top: none;}
.wz_box{ z-index: 2; position: absolute; width: 998px; left: 50%; margin-left: -499px; top: 0px;}
.wz_box h3{font-size:30px; line-height: 30px; margin-bottom: 25px;}
.wz_box p{ font-size: 16px; line-height: 28px;}
.wz_box.tc{text-align: center;}
.wz1{ padding-top: 6%;}
.wz2{ padding-top: 3%;}
.wz3{ padding-top: 15%;}
.wz4{ padding-top: 4%;}
.wz5{ padding-top: 4%;}
.wj_bg .banner{overflow: hidden;position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;}
.wj_bg ul li{float: left;}
.wj_bg .banner .prev{display: inline-block; width:63px; height: 124px; background: url(../img/prev.png) no-repeat center center; position: absolute; left: 10%; top: 58%;  z-index: 10; cursor: pointer;}
.wj_bg .banner .next{display: inline-block; width:63px; height: 124px; background: url(../img/next.png) no-repeat center center; cursor: pointer; position: absolute; right: 10%; top:58%; z-index: 10;}
.wj_bg .banner ul li{width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;}
.wj_bg .banner .img{width: 100%; overflow: hidden; height: 100%; position: relative;}